@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
  --card: #1e293b;
  --primary: #38bdf8;
  --secondary: #94a3b8;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom utility for safe area padding on mobile iOS */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
